/*---------------------
  마이페이지 css
-----------------------*/

.my-page-manage-table {
	margin-bottom: 30px;
}

.my-page-manage-table table {
	width: 100%;
}

.my-page-manage-table thead {
	border-bottom: 1px solid #f2f2f2;
}

.my-page-manage-table thead th {
	font-size: 18px;
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.my-page-manage-table tbody tr {
	border-bottom: 1px solid #f2f2f2;
}

.my-page-manage-table tbody tr td {
	padding: 30px 0;
}

.my-page-manage-table tbody tr {
	overflow: hidden;
	width: 400px;
}

.my-page-manage-table tbody tr img {
	float: left;
	margin-right: 25px;
}

.my-page-manage-table tbody tr-title  {
	overflow: hidden;
	padding-top: 23px;
}

.my-page-manage-table tbody tr-title  h6 {
	color: #111111;
	font-weight: 600;
}

.my-page-manage-table tbody tr-title  .rating i {
	font-size: 10px;
	color: #e3c01c;
	margin-right: -4px;
}

.my-page-manage-table tbody tr .cart__price {
	font-size: 16px;
	color: #ca1515;
	font-weight: 600;
	width: 190px;
}

.real-upload {
  display: none;
}

.upload-profile {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  background-color: antiquewhite;
  overflow:hidden;
  margin:0 auto;
  float:left;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}